* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app_body {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

.left_section {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  color: steelblue;
}
.right_section {
  flex: 0.6;
}
.maka img {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.form_container {
  display: flex;
  flex-direction: column;
}

.form_container > input {
  font-weight: 700;
  padding: 10px 10px;
  margin: 2px;
  box-sizing: border-box;
  border: 2px solid #6cdbeb;
  border-radius: 10px;
}
.form_container > input:focus {
  background-color: lightblue;
}
.form_container button {
  border: none;
  font-weight: 800;
  color: rgb(12, 10, 10);
  background-color: aqua;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 25px;
  cursor: pointer;
}
.Card {
  text-align: center;
  width: 50vh;
  height: 70vh;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}
.Card h1,
h4 {
  padding: 10px;
}
.min-max-temp {
  display: flex;
  justify-content: space-evenly;
}
.wi-strong-wind {
  margin-right: 15px;
  font-size: 25px;
  color: lightsalmon;
}
.wi-humidity {
  margin-right: 15px;
  font-size: 25px;
  color: dodgerblue;
}
.city_name {
  color: rgb(40, 122, 189);
}
.city_name:after {
  content: " ";
  display: block;
  border: 3px solid #93f4fa;
  border-radius: 10px;
  margin-bottom: 10px;
}
.wi-degrees {
  margin-left: 3px;
}
::placeholder {
  color: black;
  font-weight: bold;
}
.description {
  font-size: larger;
  color: rgb(40, 122, 189);
}

@media only screen and (max-width: 768px) {
  .glass {
    display: table;
  }
  .left_section {
    height: 50vh;
    width: 100%;
    font-size: small;
    margin-top: 2px;
    display: inline-block;
  }
  .form_container {
    width: 70%;
    display: inline-block;
  }
  .right_section {
    font-size: small;
  }
}
